footer.footer
    .container 
        .row.align-items-center
            .col-2
            .col-3.flex-column 
                div(class="form-group d-flex mb-0") THÔNG TIN LIÊN HỆ:
                span(class="form-group d-flex mb-0") STĐ: #{settingGeneral.phone}
                span(class="form-group d-flex mb-0") Email: #{settingGeneral.email}
            .col-7.text-end
                div(class="form-group d-flex mb-0")
                span(class="form-group mb-0") Địa chỉ: #{settingGeneral.address}
        span(class="form-group mb-0") #{settingGeneral.copyright}