extends ../../layouts/default.pug
include ../../mixins/alert.pug
//- block styles
//-     link(rel="stylesheet" href="/admin/css/create-post.css")
block main
    +alert-success(5000)
    +alert-error(5000)
    if(role.permissions.includes("articles_create"))
        .main
            .container
                .card-header
                    h3(class="card-title") Bài viết tới Admin
                .card-body
                    form(action="/admin/articles/create" method="post")
                        div(class="mb-3")
                            label(for="" class="form-label") Tiêu đề
                            input(type="text" name="title" id="title" class="form-control")
                        div(class="mb-3")
                            label(for="content" class="form-label") Nội dung
                            textarea(class="form-control tinymce-textarea" name="content" id="content")
                        div(class="mb-3") 
                            button(class="btn btn-primary") Đăng bài
    else 
        h1 Bạn không có quyền!!!!